# Base URLs
BASE_URL=https://automationintesting.online
BASE_API_URL=https://automationintesting.online/api/
STANDALONE_API_URL=https://restful-booker.herokuapp.com

# Admin credentials
ADMIN_USER=admin
ADMIN_PASS=password
